@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  p {
    @apply text-primary font-bold tracking-[1px];
  }
}
.slick-dots li button::before {
  @apply !text-primary;
}
.slick-prev::before {
  @apply !text-primary;
}
.slick-next::before {
  @apply !text-primary;
}
